/*Start Andy Bell's latest CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* End Andy Bell's latest CSS reset */

body {
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    max-width: 23.4375rem;

}

.order-summary-component {
    max-width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 3rem 1rem;
    padding: 3rem;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;

}

.illustration-hero {
  border-radius: 1rem 1rem 0 0;
  height: 160px;
  object-fit: cover;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%); 
}


.order-summary {
  border-radius: 0 0 1.25rem 1.25rem;
  background-color: white;
  padding: 3rem;
  margin-bottom: 2rem;
}

.order-summary-description {
  margin-bottom: 2rem;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.illustration-hero > img {
  border-radius: 1.25rem 1.25rem 0 0;
  object-fit: cover;
  max-width: 100%;
}

.annual-plan {
    display: flex;
    justify-content: space-between;
    border-radius: 1.25rem;
    gap: 2rem;
    align-items: center;  
    margin-bottom: 1.5rem;
    background-color: #eee;
    padding: 1rem;
    flex: 1;
    font-size: 1rem;
}

.annual-plan > img {
  width: 48px;
  height: 48px;
}

.change-plan {
    margin-left: auto;
    align-self: center;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.proceed-to-payment {
  background-color: blue;
  color: white;
  padding: 0.725rem;
  border-radius: 0.725rem;
  border: 0;
}

.cancel-order {
  margin-bottom: 3rem;
}
