/* Start Andy Bell's latest CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* End Andy Bell's latest CSS reset */

/** Start the Order Summary Component **/

/** Begin styling the Order Summary component **/

body 
{
    background-image: url('/images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}

.order-summary-component 
{
    max-width: 376px; 
    max-height: 100%;
    border-radius: 1rem 1rem;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    
}

.hero-illustration 
{
    border-radius: 1rem 1rem 0 0;
    max-width: 100%;
    object-fit: cover;
}

h2
{
    font-size: 1.5rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);

}

.order-summary 
{
    padding: 0 1rem;
}

.order-annotation 
{
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    padding: 1rem;
}

.annual-plan-widget 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: hsl(225, 100%, 98%);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}


.plan-and-price 
{
    margin-right: auto;
    margin-left: 1rem;
}

.annual-plan
{
    margin-bottom: -1.25rem;
    margin-top: 0;
    font-weight: 700;
    font-size: 0.85rem;
    color: hsl(223, 47%, 23%);
}

.annual-plan-price 
{
    color: hsl(224, 23%, 55%);
}

.annual-plan,
.annual-plan-price
{
    font-size: .95rem;
}

.change-plan 
{
    font-size: 0.875rem;
}

.change-plan:hover {  /* or it could be :active */
  text-decoration: none;
  color: hsl(245, 75%, 75%);
}

.proceed-to-payment,
.cancel-order
{
    display: block;
}

.proceed-to-payment 
{
    min-width: 100%;
    background-color: blue;
    color: white;
    font-weight: 700;
    padding: 0.725rem;
    border-radius: 0.725rem;
    border: 0;
    margin-bottom: 1rem;
    box-shadow: 10px 10px 50px hsl(245, 75%, 85%);
}

.proceed-to-payment:hover { /* or it could be :active */
  text-decoration: none;
  color: hsl(245, 75%, 75%);
  opacity: 0.8;
  color: white;
}

.cancel-order
{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    min-width: 100%;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
}

.cancel-order:hover 
{
  color: black;
  font-weight: 700;
}

/* End styling for small screens up to 376px width */

/* Start styling for screens between 376px to 1440px */

@media (max-width: 90rem) {

    body 
{
    background-image: url('/images/pattern-background-desktop.svg');
    background-position-y: 0px;
    background-repeat: no-repeat;
}

.order-summary-component {
    margin: auto;
}
    
  }
